<%= form_for(@long_play, html: {class: "object-form"}) do |f| %>
  <% if @long_play.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@long_play.errors.count, "error") %> prohibited this long_play from being saved:</h2>

      <ul>
      <% @long_play.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="form-group">
    <%= f.label :artist_id %><br>
    <%= f.select :artist_id, Artist.all.map{|artist| [artist.name, artist.id]} %>
  </div>
  <div class="actions">
    <%= link_to 'Back', long_plays_path, class: "btn btn-link" %>
    <%= f.submit 'Save', class: "btn btn-default" %>
  </div>
<% end %>
