<%= form_tag(long_plays_path, class: "search-form", :method => :get, remote: true) do %>
  Search by artist:
  <%= text_field_tag :term, @term %>
  <%= submit_tag 'Search' %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Artist</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @long_plays.each do |long_play| %>
      <tr id="long-play-<%= long_play.id %>">
        <td><%= long_play.name %></td>
        <td><%= long_play.description %></td>
        <td><%= long_play.artist.name %></td>
        <td><%= link_to 'Show', long_play, class: "btn-link" %></td>
        <td><%= link_to 'Edit', edit_long_play_path(long_play), class: "btn-link" %></td>
        <td><%= link_to 'Destroy', long_play, class: "btn-link", method: :delete, remote: true, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>